*{
	box-sizing: border-box;
}
body {
	background-color: #efeee7;
	margin: 0;
	padding: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}
header{
	background-color:#ffffff;
	border-color:#cccccc;
	width: 100%;
	margin-top: 0;
	border-top: 0;
	border-bottom: 3px;
	border-color: #dddddd;
	border-bottom-style: solid;
	height: 100%;
	clear: both;
	overflow: auto;
}
h1 {
	background-color:#4aaaa5;
	color: #efeee7;
	margin-left: 100px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 15%;
	float: left;
	}
.topnav{
	list-style-type: none;
	margin-top:50px;
	padding: 20px;
	padding-bottom: 0px;
	color: #dddddd;
	background-color: #ffffff;
	float:right;
}
.topnav li{
	float:left;

}
.social-media-box li{
	float:left;
}
.GitHub, .Linkedin{
	width: 80px;
	height: 80px;
}
.Linkedin{
	margin-left: 40px;
}
#Projects,#Home,#About,#Contact{
	padding-left: 10px;
	margin-left: 50px;
	border: 50px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
#Intro-Page, #Project-Header{
	background-color:#ffffff;
	color: #4aaaa5;
	text-align: center;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 15%;
	float: left;
	margin-left: 100px;
	border-style: solid;
	border-width: 3px;
	border-color: #4aaaa5;
}
#body-page {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #dddddd;
	border-bottom-width: 3px; 
	border-bottom-style: solid;
	background-color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	}
.container{
	float: left;
	background-color: #ffffff;
	border-color: #dddddd;
	padding-left: 30px;
	margin-left: 100px;
	margin-top: 25px;
	padding-right: 30px;
	}
#main-bio{
	color:#777777;
	border-width: 25px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 600px;
	font-weight: bold;
}
#social-media-box{
	color:#4aaaa5;
	background-color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 100px;
	padding-left: 8px;
	width: 225px;
	text-align: center;
	right:0;
	top: 80px;
	position: fixed;
	font-weight: bold;
	line-height: 25px;
	border-color: #4aaaa5;
	border-style: solid;
	border-width: 3px;
}
#bio-image{
	float: left;
	margin-right: 20px;
	width: 250px;
	height: 200px;
}

.Project-Boxes{
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: 200px;
}
.projectdog{
	width: 80px;
	height: 80px;
	position: fixed;
}
#b1{
	position: fixed;
	margin-left: -320px;
	margin-top: 150px;
	clear:both;
}

#dog1{
	margin-left: -320px;
	margin-top: 100px;
}
#b2{
	position: fixed;
	margin-left: -100px;
	margin-top: 150px;
	clear:both;
}

#dog2{
	margin-left: -100px;
	margin-top: 100px;
}
#b3{
	position: fixed;
	margin-left: -320px;
	margin-top: 300px;
	clear:both;
}

#dog3{
	margin-left: -320px;
	margin-top: 250px;
}
#b4{
	position: fixed;
	margin-left: -100px;
	margin-top: 300px;
	clear:both;
}

#dog4{
	margin-left: -100px;
	margin-top: 250px;
}

#footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	background-color: #666666;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (max-width: 980px) {
	.container{
	width: 50%;

	}
	#main-bio{
	width: 50%;
}
	#bio-image{
	width: 200px;
	height: 150px;
}
	#body-page {
	width: 50%;
	}
	#social-media-box{
	width: 200px;
}
	.GitHub, .Linkedin{
	width: 60px;
	height: 60px;
}
.Linkedin{
	margin-left: 50px;
}
}
@media screen and (max-width: 768px) {
	.container{
	width: 668px;
	margin-left: 20px;
	margin-bottom: 20px;


	}
	#main-bio{
	width: 668px;
}
	#bio-image{
	width: 200px;
	height: 150px;
}
	#body-page {
	width: 50%;
	}
	#social-media-box{
	width: 200px;
	left: 0px;
	position: static;
	float: left;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	padding-left: 0px;
}
	.GitHub, .Linkedin{
	width: 60px;
	height: 60px;
}
.Linkedin{
	margin-left: 50px;
}
.GitHub{
	margin-left: 10px;
}
header{
	height: 80px;
}

.topnav{
	clear:both;
	position:fixed;
	margin-right: 0px;
	padding: 5px;
	margin-left: 400px;
}

h1 {
	padding-left: 20px;
	padding-right: 20px;
	width: 20%;
	margin-left: 20px;
	}
#Projects,#Home,#About,#Contact{
	padding-left: 15px;
	margin-left: 0px;
}

}
@media screen and (max-width: 640px){
header{
	height: 85px;
	width: 640px;
}

.topnav{
	float: left;
	position:fixed;
	padding: 15px;
	margin-left:0px;
	margin-top: 85px;
	margin-right: 0px;
	padding-right: 0px;
	position: absolute;
	width: 640px;
}

h1 {
	padding-left: 0px;
	padding-right:0px;
	width: 640px;
	margin-left: 0px;
	height: 82px;
	}
#Home{
	padding-left: 50px;
	margin-right: 0px;
	font-size: 24px;
	margin-left: 40px;
}
#Projects{
	font-size: 24px;
	padding-left: 20px;

}
#About,#Contact{
	padding-left: 20px;
	font-size: 24px;
}

.container{
	width: 620px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 75px;
	margin-right: 10px;
}
	#main-bio{
	width: 540px;
	overflow: auto;
	margin-left: 0px;
}
	#bio-image{
	width: 540px;
	height: 350px;
}
	#body-page {
	width: 50%;
}
	#social-media-box{
	width: 540px;
	left: 0px;
	position: static;
	float: left;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	padding-left: 0px;
	text-align: left;

}
	#social-media-box-text{
	margin-left: 10px;
	}
	#Intro-Page{
		margin-top: 80px;
		width: 540px;
		margin-left: 20px;
		margin-bottom: 20px;
	} 
	#Dog{
		margin-top: 125px;
	}
	#contactbox{
		margin-bottom: 50px;
	}
	#b1{
		margin-left: 10px;
	}
	#b2{
		margin-left: 300px;
	}
	#b3{
		margin-left: 10px;
	}

	#b4{
		margin-left: 300px;
	}
	#dog1{
		margin-left: 10px;
	}
	#dog2{
		margin-left: 300px;
	}
	#dog3{
		margin-left: 10px;
	}

	#dog4{
		margin-left: 300px;
	}





}